.main {
    font-size: 15px;
    font-weight: bold;
    padding: 3px 5px;
    background-color: coral;
    color: antiquewhite;
    border: 1px solid coral;
    border-radius: 100%;
    cursor: pointer;
    
    &:hover {
        background-color: antiquewhite;
        color:black;
    }

    $breakpoint-tablet : 768px;
  @media (min-width: $breakpoint-tablet) {
    font-size: 20px;
    padding: 5px 7px;
  }

}